body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

a,
.top p {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

.header,
.footer {
  background-color: #1f2937;
  display: flex;
}

.header {
  justify-content: space-between;
  padding: 10px 200px;
}

.footer {
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #e5e7eb;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}

.header-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.top {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 40px 200px;
}

.top .container {
  display: flex;
  flex-direction: column;
  width: 450px;
  flex-grow: 0.1;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  margin: 0;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 6px 25px;
  border: 0;
  margin: 10px 0;
  width: 100px;
  flex-grow: 0;
}

.top p {
  margin: 0;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.middle .title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding: 30px;
}

.cards {
  display: flex;
  gap: 50px;
}

.card {
  width: 150px;
  flex-grow: 0;
  text-align: center;
}

.card img {
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.quote {
  background-color: #e5e7eb;
  padding: 100px 100px;
  display: flex;
  justify-content: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  justify-content: center;
}

.quote-body {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
}

.quote-footer {
  font-size: 20px;
  font-weight: bold;
  text-align: end;
}
