body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a,
.top p {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

.header,
.footer {
  background-color: #1f2937;
  display: flex;
}

.header {
  justify-content: space-between;
  padding: 10px 200px;
}

.footer {
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #e5e7eb;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}

.header-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.top {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 40px 200px;
}

.top .container {
  display: flex;
  flex-direction: column;
  width: 450px;
  flex-grow: 0.1;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  margin: 0;
}

button {
  background-color: #3882F6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 6px 25px;
  border: 0;
  margin: 10px 0;
  width: 100px;
  flex-grow: 0;
}

.top p {
  margin: 0;
}
